VNPT_BASE_URL=https://api.idg.vnpt.vn
VNPT_TOKEN_ID=''
VNPT_TOKEN_KEY=''
VNPT_ACCESS_TOKEN=''

# Confirmed from web-sdk-version-3.2.1.0.js.
VNPT_TOKEN_ID_HEADER=Token-id
VNPT_TOKEN_KEY_HEADER=Token-key
# The SDK builds Authorization as "Bearer <ACCESS_TOKEN>".
VNPT_AUTHORIZATION_PREFIX=Bearer
VNPT_AUTH_CONTRACT_CONFIRMED=true
